### Eclipse ###
.settings
.project
.classpath

### Intellij ###
.idea/
*.iml
*.iws

### Misc ###
spy.log

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

cloud-commons-parent/cloud-commons-test-configurations/src/main/resources/com/francetelecom/clara/cloud/commons/testconfigurations/credentials-hudson.properties