<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%date{ISO8601} %-5level [%thread] %logger{30}\(%line\) - %message%n%rEx</pattern>
		</encoder>
	</appender>
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>target/cloud-test.log</file>
		<encoder>
			<pattern>%date{ISO8601} %-5level [%thread] %logger{30}\(%line\) - %message%n%rEx</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>3</maxIndex>
			<FileNamePattern>target/cloud-test.log.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>1000KB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<!-- INFO level for application -->
	<logger name="com.francetelecom.clara.cloud" level="INFO" />
	<logger name="com.francetelecom.clara.cloud.paas.projection" level="DEBUG" />

	<!-- For integration tests, please leave this as DEBUG to ensure better 
		analysis of IaaS failures -->
	<logger name="com.vmware.vcloud.sdk" level="ERROR" />

	<!-- This logger is used to dump entities in XML, set DEBUG only if necessary -->
	<logger name="com.francetelecom.clara.cloud.dump" level="ERROR" />

    <!-- Set DEBUG level to see warning about excessive JOIN and SQL statement duration -->
    <logger name="com.francetelecom.clara.cloud.commons.P6SpyAppender" level="INFO" />


    <root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</root>
</configuration>